<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="Hello">
<head>
<link href="bootstrap.min.css" rel="stylesheet">
<script src="angular.min.js"></script>
<script src="config.js"></script>
<script src="popup.js"></script>
<link href="rzslider.min.css" rel="stylesheet">
<script src="rzslider.min.js"></script>
<style>
</style>
</head>
<body>
<!--
	In this version, VI adds a new TTS API from IBM Watson as an alternative when you
	find original one being slow.
--!>
<div style="width:375px; padding-left:7px; padding-right:5px" ng-controller="HelloCtrl">

<form>
<h3>Choose TTS API</h3>
	<div class="form-group">

		<div class="radio">
		<label>
		<input type="radio" ng-model="api_opt" id="api_opt2" value="newnew" ng-change="on_change()">
		<a target="_blank" href="http://www.ibm.com/watson/developercloud/text-to-speech.html">IBM Watson</a> (natural voice, but no speed option).
		</label>
		</div>

		<div class="radio">
		<label>
		<input type="radio" ng-model="api_opt" id="api_opt1" value="new" ng-change="on_change()">
		<a target="_blank" href="https://responsivevoice.org">ResponsiveVoice</a> (with speed and accent options).
		</label>
		</div>

	<!--
		<div class="radio">
		<label>
		<input type="radio" ng-model="api_opt" id="api_opt0" value="old" ng-change="on_change()">
		<a target="_blank" href="http://www.voicerss.org/">Voice RSS</a> (possible to adjust the gap between voice trunks to tackle pause-in-the-middle problem).
		</label>
		</div>
	-->

	</div>

<h3>Available options for this API</h3>
<h5>(I know, one cannot simply have the best of all worlds)</h5>

	<div class="form-group" ng-show="api_opt=='old'">
	<label>Early Gap (start the next buffer how much earlier)</label>
		<rzslider rz-slider-model="gap" rz-slider-options="my_slider_option"></rzslider>
		Current early gap: {{gap/100}} (sec).
	</div>

	<!-- ======================== -->
	<div ng-show="api_opt=='new'">
	<div class="form-group">
		<label>Speed</label>
		<select class="form-control" ng-model="selectSpeed" ng-change="on_change()">
		<option>0.2</option>
		<option>0.4</option>
		<option>0.5</option>
		<option>0.6</option>
		<option>0.7</option>
		<option>0.8</option>
		</select>
	</div>

	<div class="form-group">
		<label>Volume</label>
		<select class="form-control" ng-model="selectVolume" ng-change="on_change()">
		<option>0.2</option>
		<option>0.4</option>
		<option>0.6</option>
		<option>0.8</option>
		<option>1.0</option>
		</select>
	</div>

	<div class="form-group">
		<label>Voice</label>
		<select class="form-control" ng-model="selectVoice_new" ng-change="on_change()">
		<option>US</option>
		<option>British</option>
		</select>
	</div>
	</div>
	<!-- ======================== -->
	<!-- ======================== -->
	<div ng-show="api_opt=='newnew'">
	<div class="form-group">
		<label>Voice</label>
		<select class="form-control" ng-model="selectVoice_newnew" ng-change="on_change()">

		<option>en-US_AllisonVoice</option>
		<option>en-US_MichaelVoice</option>
		<option>en-US_LisaVoice</option>
		<option>en-GB_KateVoice</option>(British)
		<option>fr-FR_ReneeVoice</option>(French)
		<option>de-DE_BirgitVoice</option>(German)
		<option>it-IT_FrancescaVoice</option>(Italian)
		<option>ja-JP_EmiVoice</option>(Japanese)
		<option>pt-BR_IsabelaVoice</option>(Portuguese)
		<option>es-ES_EnriqueVoice</option>(Spanish)
		<option>es-US_SofiaVoice</option>(North American Spanish)

		</select>
	</div>
	</div>
	<!-- ======================== -->

<h3>Test your selections</h3>
	<div class="form-group">
	<button class="btn btn-warning" ng-click="test_sentence()">
	Test the voice in this tab
	</button>
	<button class="btn btn-default" ng-click="reset_to_default()">
	Reset to default
	</button>
	</div>
	<p>
	Not working? Restart your browser and test it in <a target="_blank" href="https://approach0.xyz/docs/">this page</a>.
	</p>

</form>
<!--
<ul>
<li>Speed = {{selectSpeed}}</li>
<li>Volume = {{selectVolume}}</li>
<li>Voice_new = {{selectVoice_new}}</li>
<li>Voice_newnew = {{selectVoice_newnew}}</li>
<li>gap = {{gap}}</li>
<li>api_opt = {{api_opt}}</li>
</ul>
-->

</div>
</body>
</html>
